body {
    margin: 0px;
    padding: 0px;
}
main {
    padding: 2px;
}
footer {
    padding-top: 24px;
    padding-bottom: 24px;
}
img {
    height: 200px;
}
nav {
    border: 1px solid black;
    padding: 10px;
}

