#food-list-page {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(1, 250px);
    grid-gap: 70px 70px;
    margin-bottom: 60px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}



.has-red-background {
    background-color:red;
}

.has-dark-blue-text {
    color: darkblue;
}

.has-green-text {
    color: green;
}

.has-white-text {
    color: white;
}

.has-green-background {
    background-color: greenyellow
}

a, u {
    text-decoration: none;
}